{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>あきわが～る - 館内人数</title>
    <link rel="stylesheet" type="text/css" href="{% static 'num/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <header>
      <h1 id="t">館内人数</h1>
    </header>
    <div class="wrapper">
      <div class="num_head">
        現在の館内人数
      </div>
      <div class="number">
        18人
      </div>
      <div class="crowdedness">
        やや混雑
      </div>
      <div class="crowd_icon">
        <img src="{% static 'num/images/triangle.png' %}">
      </div>
    </div>
    <div class="wrapper2">
      <div class="expect_head">
        混雑予測
      </div>
      <div class="expect">

      </div>
    </div>
    <footer class="footer-menu">
      <ul>
        <li>
          <a href="../">
            <img src="{% static 'num/images/home.png' %}" width="50" height="50" alt="色玉">
            <div>ホーム</div>
          </a>
        </li>
        <li>
          <a href="../../../num/">
            <img src="{% static 'num/images/number.png' %}" width="50" height="50" alt="色玉">
            <div>館内人数</div>
          </a>
        </li>
        <li>
          <a href="../../../seat/">
            <img src="{% static 'num/images/seats.png' %}" width="50" height="50" alt="色玉">
            <div>空席情報</div>
          </a>
        </li>
        <li>
          <a href="../../../others/">
            <img src="{% static 'num/images/others.png' %}" width="50" height="50" alt="色玉">
            <div>その他</div>
          </a>
        </li>
      </ul>
      </a>
    </footer>
  </body>
</html>