{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>あきわが～る - その他</title>
    <link rel="stylesheet" type="text/css" href="{% static 'others/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <header>
      <h1 id="t">その他</h1>
    </header>

    

    <footer class="footer-menu">
      <ul>
        <li>
          <a href="../">
            <img src="{% static 'others/images/home.png' %}" width="50" height="50" alt="色玉">
            <div>ホーム</div>
          </a>
        </li>
        <li>
          <a href="../../../num/">
            <img src="{% static 'others/images/number.png' %}" width="50" height="50" alt="色玉">
            <div>館内人数</div>
          </a>
        </li>
        <li>
          <a href="../../../seat/">
            <img src="{% static 'others/images/seats.png' %}" width="50" height="50" alt="色玉">
            <div>空席情報</div>
          </a>
        </li>
        <li>
          <a href="../../../others/">
            <img src="{% static 'others/images/others.png' %}" width="50" height="50" alt="色玉">
            <div>その他</div>
          </a>
        </li>
      </ul>
      </a>
    </footer>
  </body>
</html>