{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>あきわが～る</title>
    <link rel="stylesheet" type="text/css" href="{% static 'seat/style.css' %}">

  </head>
  <body>
    <header>
        <t>あきわが～る</t>
      <nav class="nav">
      </nav>
    </header>

<hr >
    <!-- footer-->
    <footer>
        <a href="../">
            <img src="{% static 'home/images/home.png' %}" width="50" height="50" alt="色玉"><br>
            <span style="font-weight:bold;">ホーム</span>
        </a>
        <a href="../../../num/">
            <img src="{% static 'home/images/number.png' %}" width="50" height="50" alt="色玉"><br>
            <span style="font-weight:bold;">館内人数</span>
        </a>
        <a href="../../../seat/">
            <img src="{% static 'home/images/seats.png' %}" width="50" height="50" alt="色玉"><br>
            <span style="font-weight:bold;">空席情報</span>
        </a>
        <a href="../../../others/"></a>
            <img src="{% static 'home/images/others.png' %}" width="50" height="50" alt="色玉"><br>
            <span style="font-weight:bold;">その他</span>
        </a>
    </footer>
  </body>
</html>