{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>あきわが～る</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <header>
        <h1 id="t">あきわが～る</h1>
    </header>
    <p id="heading">現在の状況</p>
    <div class="box">
      <div class="crowdedness">
        <h1>
          {{ crowdedness }}
        </h1>
      </div>
      <div class="crowd_icon">
        {% if num > 20 %}
          <img src="{% static 'num/images/cross.png' %}">
        {% elif num > 15 %}
          <img src="{% static 'num/images/triangle_r.png' %}">
        {% elif num > 10 %}
          <img src="{% static 'num/images/triangle.png' %}">
        {% else %}
          <img src="{% static 'num/images/circle.png' %}">
        {% endif %}
      </div>
    </div>
    <div class="box2">
      <p>館内の混雑</p>
    </div>
    <div class="box_s">
      <h1>12/20席</h1>
    </div>
    <div class="box2">
      <p>閲覧席状況</p>
    </div>
    <p id="heading">図書館情報</p>
    <div class="wrapper">
      <div class="info">
        <p>お知らせ</p>
      </div>
      <div class="search">
        <img src="{% static 'home/images/book.png' %}">
        <p>蔵書検索</p>
      </div>
      <div class="map">
        <img src="{% static 'home/images/pin.png' %}">
        <p>館内図</p>
      </div>
    </div>
    <footer class="footer-menu">
      <ul>
        <li>
          <a href="../">
            <img src="{% static 'home/images/home.png' %}" width="50" height="50" alt="色玉">
            <div>ホーム</div>
          </a>
        </li>
        <li>
          <a href="../../../num/">
            <img src="{% static 'home/images/number.png' %}" width="50" height="50" alt="色玉">
            <div>館内人数</div>
          </a>
        </li>
        <li>
          <a href="../../../seat/">
            <img src="{% static 'home/images/seats.png' %}" width="50" height="50" alt="色玉">
            <div>空席情報</div>
          </a>
        </li>
        <li>
          <a href="../../../others/">
            <img src="{% static 'home/images/others.png' %}" width="50" height="50" alt="色玉">
            <div>その他</div>
          </a>
        </li>
      </ul>
      </a>
    </footer>
  </body>
</html>