{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>あきわが～る - 空席情報</title>
    <link rel="stylesheet" type="text/css" href="{% static 'seat/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <header>
      <h1 id="t">空席情報</h1>
    </header>
    <p id="heading">現在の使用数</p>
    <div class="box_s">
      <h1>{{ num }}/20席</h1>
    </div>
    <p id="heading">現在の状況</p>
    <div class="seats">
      {% for occ in occupancy %}
        <div class={{occ.occupancy}} id={{occ.id}}>{{ occ.id }}</div>
        {% if occ.id == 3 %}
          <div class="table1"></div>
        {% elif occ.id == 9 %}
          <div class="table2"></div>
        {% elif occ.id == 15 %}
          <div class="table3"></div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="seat_info">
      <div class="seat_occ"></div>
      <div id="seat_occ">使用中</div>
      <div class="seat_unocc"></div>
      <div id="seat_unocc">空席</div>
    </div>
    <footer class="footer-menu">
      <ul>
        <li>
          <a href="../">
            <img src="{% static 'seat/images/home.png' %}" width="50" height="50" alt="色玉">
            <div>ホーム</div>
          </a>
        </li>
        <li>
          <a href="../../../num/">
            <img src="{% static 'seat/images/number.png' %}" width="50" height="50" alt="色玉">
            <div>館内人数</div>
          </a>
        </li>
        <li>
          <a href="../../../seat/">
            <img src="{% static 'seat/images/seats.png' %}" width="50" height="50" alt="色玉">
            <div>空席情報</div>
          </a>
        </li>
        <li>
          <a href="../../../others/">
            <img src="{% static 'seat/images/others.png' %}" width="50" height="50" alt="色玉">
            <div>その他</div>
          </a>
        </li>
      </ul>
      </a>
    </footer>
  </body>
</html>
